h1 {
    font-size: 18px;
    text-align: center;
    text-decoration:underline;
    font-style:bold;
  }
  .section {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  input {
    padding: 0.5rem 1rem;
    margin-block: 0.5rem;
  }
  section {
    padding: 1rem 0.5rem;
    border: 2px solid black;
    width: 30%;
  }
  textarea {
    padding: 1rem 2rem;
    margin-block: 1rem;
  }